body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background: radial-gradient(
      farthest-corner at 40px 40px,
      #2a475e 0%,
      #1b2838 80%
    )
    no-repeat center center fixed;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  font-size: 50px;
  color: #ffffff;
  margin: 0 0 2px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 1px;
}

.page-logo {
  width: 200px;
  background: none;
  border-radius: 0px;
  box-shadow: none;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border-radius: 0px;
  box-shadow: none;
}

img {
  max-height: 250px;
  max-width: 250px;
  margin-top: 30px;
  margin-left: 30px;
  padding-bottom: 30px;
  background: linear-gradient(
    -45deg,
    rgba(64, 121, 153, 1) 5%,
    rgba(42, 62, 89, 1) 95%
  );
  box-shadow: 0 0 2em #000000;
}

p {
  margin-top: -10px;

  color: #ffffff;
}

.button {
  color: white;
  font-size: 22px;
  border: none;
  border-radius: 5px;
  padding: 12px 28px;
  background: #3b6b89;
}
.button:hover {
  transition: 1s;
  background: #2c729e;
}
.button:active {
  transition: 0s;
  background-color: #224a63;
  transform: translateY(2px);
}

.buttonRemove {
  color: white;
  font-size: 22px;
  border: none;
  border-radius: 5px;
  margin-left: 30px;
  padding: 12px 28px;
  background: #3b6b89;
}
.buttonRemove:hover {
  transition: 1s;
  background: #2c729e;
}
.buttonRemove:active {
  transition: 0s;
  background-color: #224a63;
  transform: translateY(2px);
}

input {
  color: white;
  font-size: 20px;
  width: 300px;
  height: 34px;
  margin: 10px;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #316282;
}
input:hover {
  border: 1px solid #4c9acc;
  box-shadow: 1px 1px 0px rgb(255 255 255 / 0%);
}

.nav {
  background: linear-gradient(
    100deg,
    rgba(62, 103, 150, 0.919) 11.38%,
    rgba(58, 120, 177, 0.8) 25.23%,
    rgb(15, 33, 110) 100%
  );
  box-shadow: 0 0 3px rgb(0 0 0 / 40%);
}

.divJogos {
  display: inline-block;
}
.divJogos p {
  font-size: 22px;
  margin-top: -30px;
}
.divJogos:hover {
  transition: all 0.5s ease;
  transform: scale(1.1);
}